@import'fonts.css';

/* ROOT START */

/* * {
  border: 2px solid black;
} */

:root {
  --f400: 'Montserrat-reg`lar';
  --f700: 'Montserrat-bold';
  --f100: 'Montserrat-Thin';
  --f300: 'Montserrat-light';
  --f900: 'Montserrat-black';

  --main_color:#68bf3b;
  --but_up: #6ad017;
  --but_down: #3d8701;
  --main_20: rgba(103, 191, 59, 0.20);
  --p_color: #bdbdbd;
  --h2_color: #a6a6a6;
  --but_text: white;
  --menu: #e1f5d0;
}


/* ROOT END */
/* HEADER START */
.header {
  background: url(../img/nav_banner_01.jpg) no-repeat center / cover;
}

h1 {
  line-height: 50px;
  font-family: var(--f900);
  font-size: 72px;
  color: var(--but_text);
  text-transform: uppercase;
  margin-bottom: 50px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: var(--but_text);
}

.nav {
  padding: 30px 0 0 0;
}

.logo {
  text-transform: uppercase;
  font-family: var(--f700);
  font-size: 24px;
  line-height: 17px;
  color: var(--but_text);
}
.nav__phone {
  font-family: var(--f400);
  font-size: 24px;
  line-height: 23px;
  color: white;
  margin-right: 90px;
}

.nav__button {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background: var(--main_color);
 
} 

.nav__button a {
  line-height: 15px;
  font-family: var(--f400);
  font-size: 16px;
  color: var(--but_text); 
  text-decoration: none; 
  min-height: 100%;
  min-width: 100%;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
  /* line-height: 15px;
  font-family: var(--f400);
  font-size: 16px; 
  color: var(--but_text);
  min-height: 100%;
  min-width: 100%;
  border-radius: 50px;
  text-align: center;
  padding: 15px; */
}

.header__info {
  height: 690px;
}

.header__first-info {
  font-family: var(--f900);
  font-size: 18px;
  line-height: 13px;
  color: var(--but_text);
  margin-bottom: 33px;
  text-transform: uppercase;
}
.header__second-info {
  line-height: 13px;
  font-family: var(--f400);
  font-size: 18px;
  color: var(--but_text);
  margin-bottom: 50px;
}

.button {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #6ad017 ,#3d8701  );
}
.button a {
  line-height: 15px;
  font-family: var(--f400);
  font-size: 16px;
  color: var(--but_text); 
  text-decoration: none; 
  min-height: 100%;
  min-width: 100%;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
}
/* hEADER END */


/* MAIN START */
.main__totti {
  height: 580px;
}
.main__photo {
  background: url(../img/totti.png) no-repeat center / cover;
  height: 420px;
}
.main__text {
  height: 420px;
  padding: 0 30px;
}

.sign {
  background: url(../img/sign.png) no-repeat, center / cover;
  height: 200px;
  width: 200px;
}

.main__text h2 {
  line-height: 32px;
  font-family: var(--f700);
  font-size: 36px;
  color: var(--main_color);
  text-transform: uppercase;
}

.main__text p {
  line-height: 32px;
  font-family: var(--f400);
  font-size: 18px;
  color: var(--p_color);
}

.sign-box h3 {
  line-height: 22px;
  font-family: var(--f700);
  font-size: 23px;
  color: var(--h2_color);
}

/* menu */
.menu {
  line-height: 26px;
  font-family: var(--f700);
  font-size: 36px;
  color: var(--menu);
  padding-bottom: 50px;
}
.box {
  height: 250px;
  margin: 0 0 50px 0;
}
.menu__discount {
  background: url(../img/discount.png);
  width: 60px;
  height: 60px;
  position: relative;
  left: 30px;
  top: 30px;
  border: #00ce00;
  border-radius: 100%;
}
.menu__pissa-photo {
  height: 250px;
}
.menu__pissa-photo-box {
  background: url(../img/pizza_03.jpg) no-repeat center / cover;
  height: 250px;
  position: absolute;
}
.menu__text h3 {
  line-height: 22px;
  font-family: var(--f700);
  font-size: 30px;
  color: var(--h2_color);
  text-transform: uppercase;
}
.menu__text {
  line-height: 24px;
  font-family: var(--f400);
  font-size: 14px;
  color: var(--h2_color);
}
.menu__right h3:nth-child(1) {
  line-height: 22px;
  font-family:var(--f700);
  font-size: 30px;
  color: var(--h2_color);
  padding: 15px 0 0 30px;
}
.menu__right h3:nth-child(2) {
  line-height: 10px;
  font-family: var(--f300);
  font-size: 18px;
  padding: 25px 0 0 12px;
}
.menu-bottom__sitora {
  background: url(../img/sitora.png) no-repeat center / cover;
  height: 330px;
  width: 330px;
  margin: 100px 0 30px;
}
.menu-bottom__girls h3 {
  line-height: 10px;
  font-family: var(--f700);
  font-size: 14px;
  color: var(--h2_color);
  text-transform: uppercase;
}
.menu-bottom__girls p {
  line-height: 24px;
  font-family: var(--f400);
  font-size: 14px;
  color: var(--h2_color);
  text-align: center;
  padding: 0 15px;
}
.menu-bottom__anna {
  background: url(../img/anna.png) no-repeat center / cover;
  height: 330px;
  width: 330px;
  margin: 100px 0 30px;
}
.menu-bottom__fariza {
  background: url(../img/fariza.png) no-repeat center / cover;
  height: 330px;
  width: 330px;
  margin: 100px 0 30px;
}


/* MAIN END */

/* FOOTER START */
.footer {
  height: 200px;
  background: black;
}

.footer h3 {
  line-height: 11px;
  font-family: var(--f100);
  font-size: 14px;
  color: var(--but_text);
  text-align: center;
  margin: 50px 0;
}

/* FOOTER END */




/* MEDIA START */


/* MEDIA END */


